workflows/foglifter-main.json
{
  "name": "FogLifter — MVP (ingestion → extraction → PG → matching → Telegram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "f1111111-1111-4111-8111-111111111111",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.service-public.fr/particuliers/actualites/actualites.rss",
        "options": {}
      },
      "id": "f2222222-2222-4222-8222-222222222222",
      "name": "RSS aides (exemple)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prompt = [\n  'Tu es un extracteur pour aides / subventions / dispositifs publics en France.',\n  'Réponds uniquement avec un objet JSON valide (sans markdown, sans texte autour).',\n  'Schéma attendu :',\n  '{\"titre_court\":string,\"resume_1_phrase\":string,\"montant_approx\":string|null,\"secteurs_cibles\":string[],\"regions\":string[],\"eligible_pme\":boolean,\"mots_cles\":string[]}',\n  '',\n  'Titre RSS : ' + (item.title || ''),\n  'Lien : ' + (item.link || ''),\n  'Extrait : ' + (item.contentSnippet || item.description || ''),\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      link: item.link,\n      title: item.title,\n      contentSnippet: item.contentSnippet || item.description || '',\n      openai_body: {\n        model: 'gpt-4o-mini',\n        messages: [\n          { role: 'system', content: 'Tu réponds uniquement en JSON strict.' },\n          { role: 'user', content: prompt },\n        ],\n        response_format: { type: 'json_object' },\n        temperature: 0.2,\n      },\n    },\n  },\n];\n"
      },
      "id": "f3333333-3333-4333-8333-333333333333",
      "name": "Build LLM payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f4444444-4444-4444-8444-444444444444",
      "name": "OpenAI extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        0
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst txt = res.choices?.[0]?.message?.content || '{}';\nlet extracted = {};\ntry {\n  extracted = JSON.parse(txt);\n} catch {\n  extracted = { parse_error: true, raw: String(txt).slice(0, 2000) };\n}\n\nconst prev = $('Build LLM payload').first().json;\nconst crypto = require('crypto');\nconst hash = crypto\n  .createHash('sha256')\n  .update(`${prev.title}|${prev.link}|${txt}`)\n  .digest('hex');\n\nconst escSql = (s) => String(s ?? '').replace(/'/g, \"''\");\nconst tag = 'a' + crypto.randomBytes(6).toString('hex');\nconst ej = JSON.stringify(extracted);\n\nconst query = `INSERT INTO fl_subsidies_raw (source_url, title, summary, raw_payload, extracted_json, content_hash) VALUES (\n  '${escSql(prev.link)}',\n  '${escSql(prev.title)}',\n  '${escSql(prev.contentSnippet)}',\n  '{}'::jsonb,\n  $${tag}$${ej}$${tag}$::jsonb,\n  '${escSql(hash)}'\n) ON CONFLICT (source_url, content_hash) DO UPDATE SET\n  title = EXCLUDED.title,\n  summary = EXCLUDED.summary,\n  extracted_json = EXCLUDED.extracted_json,\n  raw_payload = EXCLUDED.raw_payload\nRETURNING id`;\n\nreturn [{ json: { query, subsidy_fingerprint: hash, extracted, link: prev.link, title: prev.title } }];\n"
      },
      "id": "f5555555-5555-4555-8555-555555555555",
      "name": "Parse OpenAI + SQL insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "f6666666-6666-4666-8666-666666666666",
      "name": "PG insert subsidy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, raison_sociale, secteur_naf, region, metadata FROM fl_companies ORDER BY updated_at DESC LIMIT 200",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "f7777777-7777-4777-8777-777777777777",
      "name": "PG load companies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const insertRow = $('PG insert subsidy').first().json;\nconst subsidyId = insertRow.id;\nif (!subsidyId) {\n  return [{ json: { skip: true, reason: 'no_subsidy_id' } }];\n}\n\nconst extracted = $('Parse OpenAI + SQL insert').first().json.extracted || {};\nconst keywords = [\n  ...(extracted.mots_cles || []),\n  ...(extracted.secteurs_cibles || []),\n]\n  .map((s) => String(s).toLowerCase())\n  .filter(Boolean);\n\nconst companies = $input.all().map((i) => i.json).filter((c) => c && c.id);\n\nif (!companies.length) {\n  return [{ json: { skip: true, reason: 'no_companies_in_db', subsidy_id: subsidyId } }];\n}\n\nconst hay = (c) =>\n  `${c.raison_sociale || ''} ${c.secteur_naf || ''} ${JSON.stringify(c.metadata || {})}`.toLowerCase();\n\nconst scored = companies\n  .map((c) => {\n    const text = hay(c);\n    let score = 0;\n    for (const k of keywords) {\n      if (!k) continue;\n      if (text.includes(k)) score += 12;\n    }\n    if ((extracted.regions || []).length && c.region) {\n      const r = String(c.region).toLowerCase();\n      for (const reg of extracted.regions) {\n        if (r.includes(String(reg).toLowerCase())) score += 8;\n      }\n    }\n    return { company_id: c.id, company_name: c.raison_sociale, score: Math.min(100, score) };\n  })\n  .filter((x) => x.score >= 20)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 10);\n\nif (!scored.length) {\n  return [{ json: { skip: true, reason: 'no_match', subsidy_id: subsidyId } }];\n}\n\nreturn scored.map((m) => ({\n  json: {\n    skip: false,\n    subsidy_id: subsidyId,\n    company_id: m.company_id,\n    company_name: m.company_name,\n    score: m.score,\n    extracted,\n  },\n}));\n"
      },
      "id": "f8888888-8888-4888-8888-888888888888",
      "name": "Score matches (MVP)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9999999-9999-4999-8999-999999999999",
      "name": "Match fort ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=FogLifter — match {{$json.score}}/100\nEntreprise : {{$json.company_name}}\nAide : {{$json.extracted.titre_court || $json.extracted.resume_1_phrase || \"n/a\"}}\n",
        "additionalFields": {}
      },
      "id": "faaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Telegram alerte",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const m = $input.first().json;\nconst crypto = require('crypto');\nconst tag = 'b' + crypto.randomBytes(10).toString('hex');\nconst rationaleJson = JSON.stringify({ score: m.score, extracted: m.extracted });\nconst query = `INSERT INTO fl_matches (subsidy_id, company_id, score, rationale, status, commission_pct) VALUES (\n  '${m.subsidy_id}',\n  '${m.company_id}',\n  ${Number(m.score)},\n  $${tag}$${rationaleJson}$${tag}$,\n  'candidate',\n  15\n) ON CONFLICT (subsidy_id, company_id) DO UPDATE SET score = EXCLUDED.score, rationale = EXCLUDED.rationale\nRETURNING id`;\nreturn [{ json: { query, match_context: m } }];\n"
      },
      "id": "fbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Build SQL upsert match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "fccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "PG upsert match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $('PG upsert match').first().json;\nconst matchId = row.id;\nconst ctx = $('Build SQL upsert match').first().json.match_context;\nconst crypto = require('crypto');\nconst tag = 'c' + crypto.randomBytes(10).toString('hex');\nconst payloadJson = JSON.stringify({ channel: 'telegram', ctx });\nconst query = `INSERT INTO fl_action_logs (match_id, action_type, channel, payload, ok) VALUES (\n  ${matchId ? `'${matchId}'` : 'NULL'},\n  'notify',\n  'telegram',\n  $${tag}$${payloadJson}$${tag}$::jsonb,\n  true\n)`;\nreturn [{ json: { query } }];\n"
      },
      "id": "fddddddd-dddd-4ddd-8ddd-dddddddddddd",
      "name": "Build SQL log action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "feeeeeee-eeee-4eee-8eee-eeeeeeeeeeee",
      "name": "PG log action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        120
      ]
    },
    {
      "parameters": {
        "content": "## FogLifter MVP\n\n1. **Credentials Postgres** : hôte `foglifter-postgres`, DB/user/mot de passe = variables `FOGLIFTER_*` du `.env`.\n2. **OPENAI_API_KEY** : passée au service `n8n` via `docker-compose` (voir `.env`).\n3. **Telegram** : credential *Telegram API* + variable d’environnement `TELEGRAM_CHAT_ID` sur le service n8n.\n4. **Firecrawl** : optionnel — remplace ou complète le node RSS par un appel HTTP `https://api.firecrawl.dev/v1/...`.\n5. **Données** : remplis `fl_companies` (SIRENE / import CSV) pour que le matching produise des lignes.\n",
        "height": 460,
        "width": 420
      },
      "id": "ffffffff-ffff-4fff-8fff-ffffffffffff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        -320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "RSS aides (exemple)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS aides (exemple)": {
      "main": [
        [
          {
            "node": "Build LLM payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM payload": {
      "main": [
        [
          {
            "node": "OpenAI extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI extraction": {
      "main": [
        [
          {
            "node": "Parse OpenAI + SQL insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI + SQL insert": {
      "main": [
        [
          {
            "node": "PG insert subsidy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG insert subsidy": {
      "main": [
        [
          {
            "node": "PG load companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG load companies": {
      "main": [
        [
          {
            "node": "Score matches (MVP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score matches (MVP)": {
      "main": [
        [
          {
            "node": "Match fort ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match fort ?": {
      "main": [
        [
          {
            "node": "Telegram alerte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build SQL upsert match",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build SQL upsert match": {
      "main": [
        [
          {
            "node": "PG upsert match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG upsert match": {
      "main": [
        [
          {
            "node": "Build SQL log action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL log action": {
      "main": [
        [
          {
            "node": "PG log action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "foglifter-mvp-1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
